<div class="card mb-2 border-0 shadow">
    <article class="card-group-item">
        <a href="{% url 'all locations' %}">
            <h6 class="text-decoration-none">
                Show All
            </h6>
        </a>
        <header class="card-header">
            <h6 class="title">Search</h6>
        </header>

        <div class="card-body">
            <div class="input-group search-bar">
                <span class="input-group">
                    <form class="d-flex search-bar" role="search" method="GET">
                        <input class="form-control me-2 rounded-pill search-input bg-gray border-0" type="search"
                               name="query"
                               placeholder="Search" aria-label="Search">
                    </form>
                </span>
            </div>
        </div>
    </article>

    <article class="card-group-item">
        <header class="card-header">
            <h6 class="title">Filter By </h6>
        </header>
        <header class="card-header">
            <h6 class="title">Category</h6>
        </header>
        <div class="filter-content">
            <div class="card-body">
                <ul class="list-group list-group-flush">
                    {% for category in location_categories %}
                        <li class="list-group-item">
                            <a href="{% url 'all locations' %}?q={{ category.category_name }}"
                               class="text-decoration-none text-primary">{{ category.category_name }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </article>

    <article class="card-group-item">
        <header class="card-header mt-1">
            <h6 class="title">Region</h6>
        </header>
        <div class="filter-content">
            <div class="card-body">
                <ul class="list-group list-group-flush">
                    {% for region in location_regions %}
                        <li class="list-group-item">
                            <a href="{% url 'all locations' %}?q={{ region.region }}"
                               class="text-decoration-none text-primary">{{ region.region }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </article>
</div>