<div class="card mb-2 border-0 shadow">
    <header class="card-header">
        <a href="{% url 'all locations' %}" class="text-decoration-none text-success">
            <h6>
                Show All
            </h6>
        </a>
    </header>
    <header class="card-header">
        <h6 class="title">Filter By</h6>
    </header>

    <div class="card-body">

        <form class="" method="GET" id="filterLocations">
            {{ filterset.form.as_p }}
            <button type="submit" class="btn btn-primary w-100 my-3">Filter</button>
        </form>

    </div>
</div>