{% load static %}
<div class="card my-3 border-0">
    <div class="card-header bg-transparent justify-content-between">

        <div class="text-center">
            <div>
                <h2>{{ object.first_name }}'s Visited Locations</h2>
            </div>
        </div>

        <div class="card-body">
            <div class="row">
                <!-- Locations -->
                <!-- L1 -->
                {% for location in wishlist_locations %}
                    <div class="col-lg-4 col-md-6 mt-4">
                        <div class="card h-100">
                            <div class="card-header bg-transparent">
                                <h5 type="button" class="text-center" data-bs-toggle="modal"
                                    data-bs-target="#locationInfo">{{ location.name }}</h5>
                            </div>
                            <img src="{{ location.feature_image.image.url }}" class="h-100"
                                 alt="{{ location.name }} image" style="max-height: 135px">

                            <div class="card-body">
                                <h6 class="card-title">Region: {{ location.region }}</h6>
                                <!-- IF MARKED AS VISITED -->
                                <!-- <button class="btn btn-primary w-100" type="button">Create album</button> -->
                                <!-- IF ALBUM CREATED -->
                                <!-- <button class="btn btn-primary w-100" type="button">View Album</button> -->
                            </div>
                            <div class="card-footer">
                                {% if location not in visited_locations %}
                                    <div
                                            class="d-flex align-items-center justify-content-between rounded text-muted p-1">
                                        <a href="{% url 'mark as visited' location.pk %}" class="tt"
                                           type="button" data-bs-toggle="tooltip" data-bs-placement="top"
                                           title="Mark as visited">
                                            <i class="fa-solid fa-check bg-dark rounded-circle fs-5 text-light"></i>
                                        </a>
                                        <a href="{% url 'add to wishlist' location.pk %}" class="tt"
                                           type="button" data-bs-toggle="tooltip"
                                           data-bs-placement="top" title="Want to visit">
                                            {% if location in wishlist_locations %}
                                                <i class="fa-solid fa-heart bg-gray rounded-circle fs-5 text-danger"></i>
                                            {% else %}
                                                <i class="fa-solid fa-heart bg-gray rounded-circle fs-5 text-muted"></i>
                                            {% endif %}
                                        </a>
                                    </div>
                                {% else %}
                                    <div class="d-flex justify-content-center align-items-center">
                                        <img src="{% static 'images/vecteezy_green-tick-checkbox-illustration-isolated_10829962_2.png' %}"
                                             style="height: 30px; width: 30px" alt="">
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                {% empty %}
                    <div class="col-12 text-center">
                        <div>
                            <h2>No locations in the wishlist</h2>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>