{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <!-- fontawesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
          integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ=="
          crossorigin="anonymous" referrerpolicy="no-referrer"/>
    <!-- bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous"/>
    <!-- main style -->
    <link rel="stylesheet" href="{% static 'login.css' %}"/>
    <!-- FONTS -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
            href="https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@700&family=DM+Serif+Display&family=Lora:wght@700&family=Merriweather:wght@400;900&family=Montserrat:wght@100;400;900&family=Parisienne&family=Sacramento&family=Ubuntu&display=swap"
            rel="stylesheet">

    <title>Explore-BG</title>
</head>

<body class="bg-gray" style="background-image: url('{% static "images/arda.jpg" %}')">
<!-- Login -->
<div class="container-lg">
    <div class="row justify-content-center align-items-center my-3 g-5">
        <!-- Intro info -->
        <div class="col-lg-6 text-center text-lg-start order-2 order-lg-1 my-1">
            <h1 class="display-2" id="title-text">
                Explore BG
            </h1>
            <p class="lead my-4" id="subtitle-text">Discover over 150 locations in Bulgaria and share your
                experience</p>
        </div>
        <!-- Login form -->
        <div class="col-lg-6 text-center d-lg-block order-1 order-lg-2 my-5 g-5" style="max-width: 28rem; width: 100%">
            <div class="card bg-white shadow rounded border-0 p-3">
                <div class="card-body text-center text-md-start">
                    <form action="{% url 'login user' %}" method="POST">
                    <input type="hidden" name="next" value="{{ next }}">
                        {% csrf_token %}
                        <div class="mb-3">
                            <label for="exampleInputEmail1" class="form-label">Email address</label>
                            {{ form.username }}
                        </div>
                        <div class="mb-3">
                            <label for="exampleInputPassword1" class="form-label">Password</label>
                            {{ form.password }}
                        </div>
                        <div class="mb-3">
                            {% if form.non_field_errors %}
                                {% for error in form.non_field_errors %}
                                    <small class="text-danger">{{ error }}</small>
                                {% endfor %}
                            {% endif %}
                        </div>
                        <button type="submit" class="btn btn-primary w-100 my-2">Log In</button>
                        <div class="mb-3">
                            <p>Haven't signed up yet?</p>
                            <a class="btn btn-success w-100" href="{% url 'register user' %}" type="button">Register</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!-- End login form -->
    </div>
</div>


</body>

</html>