.bg-gray {
    background-color: #f0f2f5;
}

.fs-0 {
    font-size: 4rem;
}

.fs-7 {
    font-size: 0.8rem;
}

/* ============= Navbar ============= */

.feed-navbar {
    min-height: 56px;
    z-index: 5;
}

.logo {
    padding: 10px;
    width: 60px;
    height: 60px;
}

.search-bar {
    margin-left: 2px;
    min-height: 40px;
    min-width: 230px;
}

/* Nav buttons */

.nav__btn :hover {
    background: #f0f2f5 !important;
}

.nav__btn :hover i {
    color: #3a9b8b !important;
}

/* Menus */

.avatar {
    width: 38px;
    height: 38px;
    object-fit: cover;
}

.nav-menu {
    width: 38px;
    height: 38px;
    object-fit: cover;
    color: #3a9b8b;
}

.dd-header {
    color: #3a9b8b;
}

.dd-menu a:hover {
    background: #f0f2f5 !important;
}

.dd-menu a:hover p {
    color: #3a9b8b !important;

}

.dd-menu a:hover i {
    color: #3a9b8b !important;
}

/* ============= END Navbar ============= */



/* ============= POSTS ============= */

.main-feed {
    padding-top: 56px;
    max-width: 680px;
    width: 100%;
}

/* Comment */

.post__comment .accordion-button:after {
    margin-left: 0 !important;
    display: none !important;
}

.post__comment .accordion-button:hover {
    background: transparent !important;
    border-color: transparent !important;
}

.post__comment .accordion-button:not(.collapsed) {
    background: transparent !important;
    box-shadow: none !important;
}

/* ============= END POSTS ============= */


/* ============= Profile Page ============= */

.profile-photo {
    width: 168px;
    height: 168px;
}

/* ============= END Profile Page ============= */


/* Location-details-page */

.carousel img {
    object-fit: fill;
!important;
    object-position: center;
!important;
    width: 100%;
    height: 75vh;
!important;
    overflow: hidden;
!important;
}

.rating-list li {
    float: right;
    color: gray;
    padding: 10px 5px;
}

.rating-list {
    display: inline-block;
    list-style: none;
}

.checked {
    color: orange;
!important;
}

*{
    margin: 0;
    padding: 0;
}
.rate {
    float: left;
    height: 46px;
    padding: 0 10px;
}
.rate:not(:checked) > input {
    position:absolute;
    top:-9999px;
}
.rate:not(:checked) > label {
    float:right;
    width:1em;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:30px;
    color:#ccc;
}
.rate:not(:checked) > label:before {
    content: '★ ';
}
.rate > input:checked ~ label {
    color: #ffc700;
}
.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label {
    color: #deb217;
}
.rate > input:checked + label:hover,
.rate > input:checked + label:hover ~ label,
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,
.rate > label:hover ~ input:checked ~ label {
    color: #c59b08;
}
