{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static '404-page.css' %}">
    <title>Document</title>
</head>
<body>
<h1>Page not found</h1>
<p class="zoom-area">Looks like you took a wrong turn</p>
<section class="error-container">
  <span>4</span>
  <span><span class="screen-reader-text">0</span></span>
  <span>4</span>
</section>
<div class="link-container">
  <a target="_blank" href="{% url 'home' %}" class="more-link">Back to home</a>
</div>
</body>
</html>