<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<a href="{% url 'login user' %}">Login</a>
<a href="{% url 'register user' %}">Register</a>
<a href="{% url 'logout user' %}">Logout</a>
<div>
    {% for user_profile in all_users %}
        <h1>{{ user_profile }}</h1>
        <a href="{% url 'details profile' pk=user_profile.pk %}">User details</a>
    {% endfor %}

    <a href="{% url 'all locations' %}">Browse Locations</a>
    <ul>
        {% for post in posts %}
            <li>
                <h1>{{ post.user.get_full_name }}</h1>
                <img src="{{ post.image.url }}" alt="post-image" style="width: 80px; height: 80px">
                <p>{{ post.text }}</p>
                {% if post.user == request.user %}
                <a href="{% url 'edit post' pk=post.pk %}">Edit</a>
                {% endif %}
            </li>
        {% endfor %}
    </ul>
</div>
</body>
</html>