{% extends 'base/base.html' %}
{% load static %}

{% block page-content %}

    <!-- =============================== Main Content =============================== -->
    <section id="user-info">
        <div class="container-fluid" style="margin-top: 70px;">
            <div class="row justify-content-center align-items-center">
                <!-- User Info Card -->
                <div class="col-lg-8">
                    <div class="card mb-3 border-0 shadow">
                        <div class="row">
                            <div class="col-md-3 d-flex justify-content-center align-items-center">
                                {% if object.profile_image %}
                                    <img src="{{ object.profile_image.url }}"
                                         class="rounded-circle profile-photo object-fit-cover my-2"
                                         alt="profile-picture">
                                {% else %}
                                    <img src="{% static 'images/profile-default_image.webp' %}"
                                         class="rounded-circle profile-photo object-fit-cover my-2"
                                         alt="profile-picture">
                                {% endif %}
                            </div>
                            <div class="col-md-9">
                                <div class="card-body">
                                    <div class="d-flex justify-content-between">
                                        <div>
                                            {% if object.first_name and object.last_name %}
                                                <h1 class="card-title text-md-center">{{ object.get_full_name }}</h1>
                                            {% else %}
                                                <h1 class="card-title text-md-center">{{ object.user }}</h1>
                                            {% endif %}
                                        </div>
                                        <div>
                                            <!-- Edit profile button -->
                                            {% if is_owner %}
                                                <a href="{% url 'edit profile' pk=object.pk %}" class="text-muted text-decoration-none me-4" >
                                                    <i class="fa-solid fa-pen-to-square fs-2"></i>
                                                </a>
                                                <a href="{% url 'delete profile' pk=object.pk %}" class=" text-muted text-decoration-none">
                                                    <i class="fa-solid fa-trash fs-2"></i>
                                                </a>
                                            {% endif %}
                                        </div>
                                    </div>

                                    <p class="card-text">
                                        {% if object.lives_at %}
                                            <i class="fa-solid fa-location-dot text-muted"></i>
                                            Lives at: {{ object.lives_at }}
                                        {% endif %}
                                    </p>

                                    <p class="card-text">
                                        <i class="fa-solid fa-check text-muted"></i>
                                        {{ visited_locations_count }} Visited Locations
                                    </p>
                                </div>
                            </div>
                            <div class="d-flex justify-content-center align-items-center">
                                <ul class="nav nav-pills">
                                    <li class="nav-item">
                                        <a class="nav-link" href="#">Posts</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="{% url 'user visited locations' pk=object.pk %}">Visited
                                            locations</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="{% url 'user wishlist locations' pk=object.pk %}">Wishlist</a>
                                    </li>

                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End User info -->


            </div>
        </div>
    </section>
    <!-- =============================== End Main Content =============================== -->
{% endblock %}