{% extends 'base/base.html' %}
{% load static %}

{% block page-content %}

    <!-- =============================== Main Content =============================== -->
    <section id="user-info">
        <div class="container-fluid" style="margin-top: 70px;">
            <div class="row justify-content-center align-items-center">
                <!-- User Info Card -->
                <div class="col-lg-8">
                    <div class="card mb-3 border-0 shadow">
                        <div class="row">
                            <div class="col-md-3 d-flex justify-content-center align-items-center">
                                {% if object.profile_image %}
                                    <img src="{{ object.profile_image.url }}"
                                         class="rounded-circle profile-photo object-fit-cover my-2"
                                         alt="profile-picture">
                                {% else %}
                                    <img src="{% static 'images/profile-default_image.webp' %}"
                                         class="rounded-circle profile-photo object-fit-cover my-2"
                                         alt="profile-picture">
                                {% endif %}
                            </div>
                            <div class="col-md-9">
                                <div class="card-body">
                                    <div class="d-flex justify-content-between">
                                        {% if object.first_name and object.last_name %}
                                            <h1 class="card-title text-md-center">{{ object.get_full_name }}</h1>
                                            {% else %}
                                            <h1 class="card-title text-md-center">{{ object.user }}</h1>
                                        {% endif %}
                                        <!-- Edit profile button -->
                                        {% if is_owner %}
                                            <a href="{% url 'edit profile' pk=object.pk %}">
                                                <i class="fa-solid fa-pen-to-square fs-2 text-muted"></i>
                                            </a>
                                        {% endif %}
                                    </div>

                                    <p class="card-text">
                                        {% if object.lives_at %}
                                        <i class="fa-solid fa-location-dot text-muted"></i>
                                            Lives at: {{ object.lives_at }}
                                        {% endif %}
                                    </p>

                                    {#                                    <p class="card-text">#}
                                    {#                                        <i class="fa-solid fa-check text-muted"></i>#}
                                    {#                                        {{ visited_locations.count }} Visited Locations#}
                                    {#                                    </p>#}
                                </div>
                            </div>
                            {#                            <div class="accordion" id="options">#}
                            {#                                <div class="accordion-item">#}
                            {#                                    <div class="accordion-header" id="option1">#}
                            {#                                        <button class="accordion-button collapsed" type="button"#}
                            {#                                                data-bs-toggle="collapse"#}
                            {#                                                data-bs-target="#posts" aria-expanded="false"#}
                            {#                                                aria-controls="posts">#}
                            {#                                            Posts#}
                            {#                                        </button>#}
                            {#                                    </div>#}
                            {##}
                            {#                                </div>#}
                            {#                                <div class="accordion-item">#}
                            {#                                    <div class="accordion-header" id="option2">#}
                            {#                                        <button class="accordion-button collapsed" type="button"#}
                            {#                                                data-bs-toggle="collapse"#}
                            {#                                                data-bs-target="#albums" aria-expanded="false"#}
                            {#                                                aria-controls="albums">#}
                            {#                                            Albums#}
                            {#                                        </button>#}
                            {#                                    </div>#}
                            {##}
                            {#                                </div>#}
                            {#                                <div class="accordion-item">#}
                            {#                                    <div class="accordion-header" id="option3">#}
                            {#                                        <button class="accordion-button collapsed" type="button"#}
                            {#                                                data-bs-toggle="collapse" data-bs-target="#visitedLocations"#}
                            {#                                                aria-expanded="false" aria-controls="visitedLocations">#}
                            {#                                            Visited Locations#}
                            {#                                        </button>#}
                            {#                                    </div>#}
                            {##}
                            {#                                </div>#}
                            {#                                <div class="accordion-item">#}
                            {#                                    <div class="accordion-header" id="option4">#}
                            {#                                        <button class="accordion-button collapsed" type="button"#}
                            {#                                                data-bs-toggle="collapse" data-bs-target="#wishlist"#}
                            {#                                                aria-expanded="false" aria-controls="wishlist">#}
                            {#                                            Wishlist Locations#}
                            {#                                        </button>#}
                            {#                                    </div>#}
                            {##}
                            {#                                </div>#}
                            {#                                <div id="posts" class="accordion-collapse collapse" aria-labelledby="option1"#}
                            {#                                     data-bs-parent="#options">#}
                            {#                                    <div class="accordion-body">#}
                            {#                                        {% include 'partials/users-posts.html' %}#}
                            {#                                    </div>#}
                            {#                                </div>#}
                            {#                                <div id="albums" class="accordion-collapse collapse" aria-labelledby="option2"#}
                            {#                                     data-bs-parent="#options">#}
                            {#                                    <div class="accordion-body">#}
                            {#                                        {% include 'partials/users-albums.html' %}#}
                            {#                                    </div>#}
                            {#                                </div>#}
                            {#                                <div id="visitedLocations" class="accordion-collapse collapse"#}
                            {#                                     aria-labelledby="option3" data-bs-parent="#options">#}
                            {#                                    <div class="accordion-body">#}
                            {#                                        {% include 'partials/users-visited-locations.html' %}#}
                            {#                                    </div>#}
                            {#                                </div>#}
                            {#                                <div id="wishlist" class="accordion-collapse collapse" aria-labelledby="option4"#}
                            {#                                     data-bs-parent="#options">#}
                            {#                                    <div class="accordion-body">#}
                            {#                                        {% include 'partials/users-wishlist-locations.html' %}#}
                            {#                                    </div>#}
                            {#                                </div>#}
                            {#                            </div>#}
                        </div>
                    </div>
                </div>
                <!-- End User info -->


            </div>
        </div>
    </section>
    <!-- =============================== End Main Content =============================== -->
{% endblock %}