{% extends 'base/base.html' %}
{% load static %}

{% block page-content %}
    <div class="container-fluid" style="margin-top: 70px">
        <div class="row d-flex justify-content-center align-items-center">
            <div class="col-lg-8">
                <div class="card my-3 border-0 shadow">
                    <div class="card-header bg-transparent justify-content-between">

                        <div class="text-center">
                            <div>
                                <h2> Visited Locations</h2>
                            </div>
                        </div>

                        <div class="card-body">
                            <div class="row">
                                <!-- Locations -->
                                <!-- L1 -->
                                {% for location in object_list %}
                                    <div class="col-lg-4 col-md-6 mt-4">
                                        <div class="card h-100">
                                            <div class="card-header bg-transparent">
                                                <h5 type="button" class="text-center" data-bs-toggle="modal"
                                                    data-bs-target="#locationInfo">{{ location.name }}</h5>
                                            </div>

                                            <img src="{{ location.feature_image.image.url }}" class="h-100"
                                                 alt="{{ location.name }} image" style="max-height: 135px">
                                            {% if is_owner %}
                                            <div class="card-footer">
                                                    <div class="d-flex justify-content-center align-items-center">
                                                        <a href="{% url 'create post' loc_pk=location.pk %}"
                                                           class="btn btn-outline-primary w-100" type="button">Create
                                                            Post</a>
                                                    </div>
                                            </div>
                                            {% endif %}
                                        </div>
                                    </div>
                                {% empty %}
                                    <div class="col-12 text-center">
                                        <div>
                                            <h2>No visited locations yet</h2>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}