{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Explore BG</title>
</head>
<body style="display: flex;
			justify-content: center;">
<div style="display: flex;
			justify-content: center;
			border: 3px solid rgb(65, 63, 63);
			border-radius: 20px;
			margin: 2%;
			max-width: 620px;">
    <div>
		<table>
			<nav style="">
		<img style="width: 5rem;
			 margin-top: 10px;
			 margin-left: -4px;
			 height: 5rem;"
			 src="https://res.cloudinary.com/dza6yfrau/image/upload/v1670933668/XplrBg/Locations/Images/favicon_atdasg.ico"
			 alt="Logo">
	</nav>
		</table>

        <h1 style="			text-align: center;
                color: rgb(65, 63, 63);
                font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;">

            Hello!</h1>

        <p style="max-width: 620px;
            padding: 20px 20px 0 20px;
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;">
            Congratulations on creating your profile at Explore BG.
            Now it's time to go out there and start exploring!
        </p>
        <p style="max-width: 620px;
            padding: 20px 20px 0 20px;
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;">
            Sincerely, Explore Bg.
        </p>
    </div>
</div>
</body>
</html>